* {
    font-family: sans-serif;
}
/*to je za navigation*/
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  /*do sem je za navigation*/
  /*tukaj je za izgled nav*/
.logo {
    width: 200px;
    height: 200px;

}
.dg {
    width: 200px;
    height: 200px;
    /*float: right;*/
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*padding: 1px;*/
    background-color: #206a5d;
    align-items: center;
    
}
.ml {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.meni {
    font-size: 80px;
    color: white;
    /*height: 90px;*/
    align-items: center;
}
/*do sem je za izgled nav*/
/*od tukaj je za tri črtice*/
.navbar {
  width: 60px;
  display: block;
  margin: 50px auto;
  border: 4px solid #00bfb6;
  padding: 8px 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.navbar div {
  height: 5px !important;
  background: #fff;
  margin: 7px 0px 7px 0px;
  border-radius: 25px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.two {
  width: 35px;
}

.three {
  width: 50px;
}

.navbar:hover div {
  width: 60px;
}
/*do tukaj je za tri črtice*/
/*to so linki*/
a:link {
  color: #ffcc29;
  /*text-decoration: none;*/
}
a:visited {
  color: #f58634;
  text-decoration: none;
}
a:hover {
  color: #81b214;
}
/*do sem so linki*/
/*to je za splošno*/
h1 {
  color: #f58634;
  text-transform: uppercase;
  align-self: center;
}
.tabela {
  display: flex;
  justify-content: center;
  /*flex-direction: column;*/
}
table {
  border: 2px solid #ffcc29;
  border-bottom: 1px;
  
}
h2 {
  color: #81b214;
  font-size: larger;
  text-transform: uppercase;
  font-size: 25px;
}
th {
  font-size: 25px;
  width: 200px;
}
td {
  font-size: 25px;
}
/*tr {
  padding: 150px;
}*/
.receptflex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
p {
  font-size: 25px;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}
address {
  font-size: 25px;
  margin-left: 5%;
}
.recept {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  border: 2px solid #ffcc29;
}
.informacije {
  margin-left: 7%;
}
li {
  margin: 3px;
}
ul {
  list-style-type: square;
  margin: 10%;
  margin-top: 0%;
  font-size: 25px;
  
}/*
ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}*/
